.About {
  background-color: white;
  display: flex;
  flex-direction: row;
  position: relative;

  .HeadShot {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  margin: 0;
  height: 100vh;
  width: 50vw;
  top: 0;
  left: 0%;
  z-index: -1;

  img {
    position: relative;
    top: 10%;
    width: 100%;
  }

  .Social {
    position: absolute;
    bottom: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 10%;
    width: 90%;
    text-decoration: none;

     li {
      font-size: 40pt;
      list-style-type: none;

      a {
        color: white;
      }
       
       a:hover {
         color: green;
         cursor: pointer;
       }
     }
    
  }

 }

 .Stats {
   display: flex;
   position: absolute;
   flex-direction: row;
   margin: 0;
   height: 100vh;
   width: 50%;
   top: 0;
   right: 0;

  .Intro {
    text-align: right;
    margin-top: 15%;
    height: 20%;
    width: 80%;
    font-family: adorn-smooth-condensed-sans, sans-serif;
    font-weight: 400;
    font-style: normal;

    p {
      color: white;
      margin: 0;
    }

    div {
      display: flex;
      justify-content: center;
      animation-duration: 1s;
      animation-delay: 1s;

      h1 {
        font-size: 70pt;
        color: white;
      }
    }

    div:nth-child(2) {
      margin-left: 20px;
      animation-duration: 1s;
      animation-delay: 1.7s;
    } 

    div:nth-child(3) {
      margin-left: 20px;
      animation-duration: 1s;
      animation-delay: 1.8s;
    } 

    div:nth-child(4),
    div:nth-child(5) {
      margin-left: 10px;
      animation-duration: 1s;
      animation-delay: 2.8s;

      h1 {
        font-size: 20pt;
      }
    } 

    div:nth-child(5) {
      animation-delay: 3s;
    }
   }

  }
 }

