.About {
  display: flex;
  flex-direction: row;
  text-align: center;
  position: absolute;
  margin: 0;
  height: 50vh;
  width: 70vw;
  top: 20%;
  left: 20%;
  z-index: -1;

  img {
    width: 300px;
    border-radius: 200px;
  }

  p {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 500px;
    height: 400px;
    margin-right: 100px;
    margin-top: 0;
    margin-bottom: 40px;
    color: white;
    font-size: 14pt;
  }
}