.About {
  display: flex;
  
  .HeadShot {
  display: flex;
  flex-direction: column;
  margin: 10px;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
  width: 50%;

  img {
    width: 80%;
  }

  .Social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10%;
    width: 50%;
    margin-top: 5px;
    padding-left: 0;
    text-decoration: none;

     li {
      font-size: 30pt;
      list-style-type: none;

      a {
        color: white;

        span {
          visibility: hidden;
          background-color: black;
          color: #fff;
          text-align: center;
          border-radius: 6px;
          padding: 0;
          text-decoration: none;
          font-size: 8pt;
          display: flex;
          justify-content: center;
          width: 120px;
          top: 100%;
          left: 50%;
          margin-left: -35px;
          text-transform: uppercase;
        }
      }

       
       a:hover {
         color: yellowgreen;
         cursor: pointer;
       }

       a:hover span {
        visibility: visible;
        text-decoration: none;
       }
     }
    
  }
 }

 .Stats {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: 5%;
   height: 80vh;
   width: 50%;
   font-family: adorn-smooth-condensed-sans, sans-serif;
   font-weight: 400;
   font-style: normal;

    p {
      color: white;
      margin: 0;
    }

    div {
      display: flex;
      justify-content: center;
      animation-duration: 1s;
      animation-delay: .5s;

      h1 {
        font-size: 70pt;
        color: white;
      }
    }

    div:nth-child(2) {
      margin-left: 20px;
      animation-duration: 1s;
      animation-delay: 1.7s;
    } 

    div:nth-child(3) {
      margin-left: 20px;
      animation-duration: 1s;
      animation-delay: 1.8s;
    } 

    div:nth-child(4),
    div:nth-child(5) {
      margin-left: 10px;
      animation-duration: 1s;
      animation-delay: 2.8s;

      h1 {
        font-size: 20pt;
      }
    } 

    div:nth-child(5) {
      animation-delay: 3s;
    }
   }
  }

 @media (max-width: 800px) {
   .About {
     flex-direction: column-reverse;

     .HeadShot {
      width: 90vw;
      height: 100vh;
      display: block;
      
      img {
        width: 100%;
      }

      .Social {
      width: 90vw;
      padding: 0;

      li {
        font-size: 30pt;

        a{

          span {
            
          }
        }
      }
      }
    }

    .Stats {
      width: 90vw;
      height: 100vh;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      margin-top: 20%;
        
        div {
          
          h1 {
            font-size: 50pt;
            color: white;
          }
        }
      }
    }
   }

@media (max-width: 600px) {
  .About {
    flex-direction: column-reverse;

    .HeadShot {
      width: 100vw;
      height: 60vh;
      

      img {
        width: 100%;
      }

      .Social {
      width: 90vw;
      padding: 0;

      li {
        font-size: 20pt;

        a{

          span {
          width: 10px;
          top: 100%;
          left: 50%;
          margin-left: 10px;
          }
        }
       }
      }
    }

    .Stats {
      width: 100vw;
      height: 130vh;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      margin-top: 20%;

        div {
          margin-bottom: 20px;
          margin-top: 20px;

          h1 {
            font-size: 50pt;
            color: white;
          }
        }
      }
    }
  }


