.Opener {
flex-wrap: wrap;

  h1 {
    font-size: 12pt !important;
    margin-left: 5px;
    margin-bottom: 0px;
    font-family: sans-serif;
  }

  h1:nth-child(1) {
    animation-delay: 2.5s;
  }

  h1:nth-child(2) {
    animation-delay: 2.51s;
  }

  h1:nth-child(1) {
    animation-delay: 2.52s;
  }

  h1:nth-child(3) {
    animation-delay: 2.53s;
  }

  h1:nth-child(4) {
    animation-delay: 2.54s;
    text-align: bottom;
  }

  h1:nth-child(5) {
    animation-delay: 2.55s;
  }

  h1:nth-child(6) {
    animation-delay: 2.56s;
  }

  h1:nth-child(7) {
    animation-delay: 2.57s;
  }

  h1:nth-child(8) {
    animation-delay: 2.58s;
  }

  h1:nth-child(9) {
    animation-delay: 2.59s;
  }

  h1:nth-child(10) {
    animation-delay: 2.6s;
  }

  h1:nth-child(11) {
    animation-delay: 2.612s;
  }

  h1:nth-child(12) {
    animation-delay: 2.612s;
  }

  h1:nth-child(13) {
    animation-delay: 2.61s;
  }

  h1:nth-child(14) {
    animation-delay: 2.62s;
  }

  h1:nth-child(15) {
    animation-delay: 2.63s;
  }

  h1:nth-child(16) {
    animation-delay: 2.64s;
  }

  h1:nth-child(17) {
    animation-delay: 2.65s;
  }

  h1:nth-child(18) {
    animation-delay: 2.66s;
  }

  h1:nth-child(19) {
    animation-delay: 2.67s;
  }

  h1:nth-child(20) {
    animation-delay: 2.68s;
  }

  h1:nth-child(21) {
    animation-delay: 2.69s;
  }

  h1:nth-child(22) {
    animation-delay: 2.7s;
  }

  h1:nth-child(23) {
    animation-delay: 2.71s;
  }

  h1:nth-child(24) {
    animation-delay: 2.72s;
  }

  h1:nth-child(25) {
    animation-delay: 2.73s;
  }

  h1:nth-child(26) {
    animation-delay: 2.74s;
  }

  h1:nth-child(27) {
    animation-delay: 2.75s;
  }

  h1:nth-child(28) {
    animation-delay: 2.76s;
  }

  h1:nth-child(29) {
    animation-delay: 2.77s;
  }

  h1:nth-child(30) {
    animation-delay: 2.78s;
  }

  h1:nth-child(31) {
    animation-delay: 2.79s;
  }

  h1:nth-child(32) {
    animation-delay: 2.8s;
  }

  h1:nth-child(33) {
    animation-delay: 2.81s;
  }

  h1:nth-child(34) {
    animation-delay: 2.82s;
  }

  h1:nth-child(35) {
    animation-delay: 2.83s;
  }

  h1:nth-child(36) {
    animation-delay: 2.84s;
  }

  h1:nth-child(37) {
    animation-delay: 2.85s;
  }
  
  h1:nth-child(38) {
    animation-delay: 2.86s;
  }

  h1:nth-child(39) {
    animation-delay: 2.87s;
  }

  h1:nth-child(40) {
    animation-delay: 2.88s;
  }

  h1:nth-child(41) {
    animation-delay: 2.89s;
  }

  h1:nth-child(42) {
    animation-delay: 2.9s;
  }

  h1:nth-child(43) {
    animation-delay: 2.91s;
  }

  h1:nth-child(44) {
    animation-delay: 2.92s;
  }

  h1:nth-child(45) {
    animation-delay: 2.93s;
  }

  h1:nth-child(46) {
    animation-delay: 2.94s;
  }

  h1:nth-child(47) {
    animation-delay: 2.7s;
    font-size: 30pt !important;
    font-family: adorn-smooth-condensed-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: auto;
  }

  h1:nth-child(48) {
    animation-delay: 2.95s;
  }

  h1:nth-child(49) {
    animation-delay: 2.96s;
  }

  h1:nth-child(50) {
    animation-delay: 2.97s;
  }

  h1:nth-child(51) {
    animation-delay: 2.98s;
  }

  h1:nth-child(52) {
    animation-delay: 2.99s;
  }

  h1:nth-child(53) {
    animation-delay: 3s;
  }

  h1:nth-child(54) {
    animation-delay: 3.1s;
  }

  h1:nth-child(55) {
    animation-delay: 3.11s;
  }

  h1:nth-child(56) {
    animation-delay: 3.12s;
  }

  h1:nth-child(57) {
    animation-delay: 3.13s;
  }

  h1:nth-child(58) {
    animation-delay: 3.14s;
  }

  h1:nth-child(59) {
    animation-delay: 3.15s;
  }

  h1:nth-child(60) {
    animation-delay: 3.16s;
  }

  h1:nth-child(61) {
    animation-delay: 3.17s;
  }

  h1:nth-child(62) {
    animation-delay: 3.18s;
  }

  h1:nth-child(63) {
    animation-delay: 3.19s;
  }

  h1:nth-child(64) {
    animation-delay: 3.2s;
  }

  h1:nth-child(65) {
    animation-delay: 3.21s;
  }

  h1:nth-child(66) {
    animation-delay: 3.22s;
  }

  h1:nth-child(67) {
    animation-delay: 3.23s;
  }

  h1:nth-child(68) {
    animation-delay: 3.24s;
  }

  h1:nth-child(69) {
    animation-delay: 3.25s;
  }

  h1:nth-child(70) {
    animation-delay: 3.26s;
  }

  h1:nth-child(71) {
    animation-delay: 3.27s;
  }

  h1:nth-child(72) {
    animation-delay: 3.28s;
  }

  h1:nth-child(73) {
    animation-delay: 3.29s
  }

  h1:nth-child(74) {
    animation-delay: 3.3s;
  }

  h1:nth-child(75) {
    animation-delay: 3.31s;
  }

  h1:nth-child(76) {
    animation-delay: 3.32s;
  }

  h1:nth-child(77) {
    animation-delay: 3.33s;
  }

  h1:nth-child(78) {
    animation-delay: 2.8s;
    font-size: 30pt !important;
    font-family: adorn-smooth-condensed-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  h1:nth-child(79) {
    animation-delay: 3.34s;
  }

  h1:nth-child(80) {
    animation-delay: 3.35s;
  }

  h1:nth-child(81) {
    animation-delay: 3.36s;
  }

  h1:nth-child(82) {
    animation-delay: 3.37s;
  }

  h1:nth-child(83) {
    animation-delay: 3.38s;
  }

  h1:nth-child(84) {
    animation-delay: 3.39s;
  }

  h1:nth-child(85) {
    animation-delay: 3.4s;
  }

  h1:nth-child(86) {
    animation-delay: 3.41s;
  }

  h1:nth-child(87) {
    animation-delay: 3.42s;
  }

  h1:nth-child(88) {
    animation-delay: 3.43s;
  }

  h1:nth-child(89) {
    animation-delay: 3.44s;
  }

  h1:nth-child(90) {
    animation-delay: 3.45s;
  }

  h1:nth-child(91) {
    animation-delay: 3.46s;
  }

  h1:nth-child(92) {
    animation-delay: 3.47s;
  }

  h1:nth-child(93) {
    animation-delay: 3.48s;
  }

  h1:nth-child(94) {
    animation-delay: 2.9s;
    font-size: 30pt !important;
    font-family: adorn-smooth-condensed-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  h1:nth-child(95) {
    animation-delay: 3.49s;
  }

  h1:nth-child(96) {
    animation-delay: 3.5s;
  }

  h1:nth-child(97) {
    animation-delay: 3.51s;
  }

  h1:nth-child(98) {
    animation-delay: 3.52s;
  }

  h1:nth-child(99) {
    animation-delay: 3.53s;
  }

  h1:nth-child(100) {
    animation-delay: 3.54s;
  }

  h1:nth-child(101) {
    animation-delay: 3.55s;
  }

  h1:nth-child(102) {
    animation-delay: 3.56s;
  }

  h1:nth-child(103) {
    animation-delay: 3.57s;
  }

  h1:nth-child(104) {
    animation-delay: 3.58s;
  }

  h1:nth-child(105) {
    animation-delay: 3.59s;
  }

  h1:nth-child(106) {
    animation-delay: 3.6s;
  }

  h1:nth-child(107) {
    animation-delay: 3.61s;
  }

  h1:nth-child(108) {
    animation-delay: 3.62s;
  }

  h1:nth-child(109) {
    animation-delay: 3.63s;
  }

  h1:nth-child(110) {
    animation-delay: 3.64s;
  }

  h1:nth-child(111) {
    animation-delay: 3.65s;
  }

  h1:nth-child(112) {
    animation-delay: 3.66s;
  }

  h1:nth-child(113) {
    animation-delay: 3.67s;
  }

  h1:nth-child(114) {
    animation-delay: 3s;
    font-size: 30pt !important;
    font-family: adorn-smooth-condensed-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  h1:nth-child(115) {
    animation-delay: 3.1s;
    font-size: 30pt !important;
    font-family: adorn-smooth-condensed-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 10px;
  }

  h1:nth-child(116) {
    animation-delay: 3.68s;
  }

  h1:nth-child(117) {
    animation-delay: 3.69s;
  }

  h1:nth-child(118) {
    animation-delay: 3.7s;
  }

  h1:nth-child(119) {
    animation-delay: 3.71s;
  }

  h1:nth-child(120) {
    animation-delay: 3.72s;
  }

  h1:nth-child(121) {
    animation-delay: 3.73s;
  }

  h1:nth-child(122) {
    animation-delay: 3.74s;
  }

  h1:nth-child(123) {
    animation-delay: 3.75s;
  }

  h1:nth-child(124) {
    animation-delay: 3.76s;
  }

}

@media (max-width: 1500px) {
  .Opener {

    h1 {
      font-size: 12pt;
    }

    h1:nth-child(47),
    h1:nth-child(78),
    h1:nth-child(94),
    h1:nth-child(114),
    h1:nth-child(115) {
      font-size: 25pt !important;
    }
  }
}

