.TechStack {
  width: 50vw;
  display: flex;
  bottom: 0;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-right: 0;
  margin-left: 0;

  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation-delay: 3.2s;

    h2 {
      color: white;
      font-size: 40pt;
    }

    div {

      li {
        background-color: black;
        border-radius: 6px;
        width: 100px;
        height: 25px;
        text-align: center;
        font-family: sans-serif;
        margin: 15px;
        color: white;
        list-style: none;

        span {
          visibility: hidden;
          background-color: black;
          color: #fff;
          text-align: center;
          border-radius: 6px;
          padding: 5px 0;
          text-decoration: none;
          font-size: 8pt;
          display: flex;
          justify-content: center;
          width: 120px;
          margin-top: 1px;
          top: 100%;
          left: 50%;
          margin-left: -10px;
          text-transform: uppercase;
        }
      }

      li:hover {
        color: yellowgreen;
         cursor: pointer;
      }

      li:hover span {
        visibility: visible;
      }
    }
  }

  
}

@media (max-width: 600px) {

  .TechStack {
    width: 100vw;
    margin-left: 0;
    height: 150vh;
    
    ul {
      padding-left: 0px;

      div {
        flex-direction: column;
        width: 90vw;

        li {
          margin-top: 8px;
          display: flex;
          width: 80vw;
          
          span {
            top: -5px;
            left: 115%;
            width: 90vw;
            margin-left: 0px;
            margin-right: 0px;
          }
        }
      }
    }
  }
}