.TechStack {
  width: 40vw;
  display: flex;
  bottom: 0;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 0;

  li {
    color: white;
    list-style: none;
    font-size: 40pt;
    animation-delay: 3.2s;
  }
  
}

@media (max-width: 600px) {

  .TechStack {
    width: 100vw;
    margin-left: 0;
    position: relative;
  }
}