body {
    margin: 0;
}

.Background {
        background: url(../assets/backgroundDesign.png) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: 70%;
        height: 100vh;
        width: 100vw;

    .Main {
        text-align: center;
        width: 40%;
        bottom: 43vh;
        left: 30vw;
        right: 50vw;
        position: absolute;
    
        .Container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 100%;
            left: 6vw;
    
            h1 {
                font-size: 5vw;
                font-family: minion-pro, serif;
                font-weight: 700;
                margin: 0;
                letter-spacing: 0.065em;
            }
    
            span {
               display: inline-block;
               transition: all .8s cubic-bezier(0.120, 0.885, 0.32, 1.875);
            }
    
            span:hover {
               color: yellowgreen;
               transform: translateY(-.15em);
               cursor: pointer;
            }
        }
    
        p {
            display: inline-block;
            font-family: minion-pro, serif;
            font-weight: 700;
            font-size: 1vw;
            margin: 0;
            transition: all .8s cubic-bezier(0.120, 0.885, 0.32, 1.875);
        }
    
        p:hover {
            color:yellowgreen;
            transform: translateY(-.15em);
            cursor: pointer;
        }
        
    }
}


