body {
    margin: 0;
    background: url(../assets/background-pattern.png) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: 100%;
        height: 100vh;
        width: 100vw;
}

.Background {
       
    .Main {
        background: url(../assets/mountains.png) no-repeat center center; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: 30%;
        height: 100vh;
        width: 100vw;
        position: relative;
        bottom: 10vh;
        transition: all .8s cubic-bezier(0.120, 0.885, 0.32, 1.875);
    
        .Container {
            display: flex;
            flex-direction: row;
            text-align: center;
            width: 40%;
            bottom: 15vh;
            left: 38vw;
            right: 50vw;
            position: absolute;

            h1 {
                font-size: 5vw;
                color: rgb(41, 152, 100);
                font-family: minion-pro, serif;
                font-weight: 700;
                margin: 0;
                letter-spacing: 0.065em;
                text-shadow: 6px 7px rgba(0, 0, 0, 0.523);
            }
    
            span {
               display: inline-block;
               transition: all .8s cubic-bezier(0.120, 0.885, 0.32, 1.875);
            }
    
            span:hover {
               color: yellowgreen;
               transform: translateY(-.15em);
               cursor: pointer;
            }
        }
    
        p {
            display: inline-block;
            color: white;
            font-family: minion-pro, serif;
            font-weight: 700;
            font-size: 1vw;
            margin: 0;
            text-shadow: 8px 6px rgba(0, 0, 0, 0.227);
            transition: all .8s cubic-bezier(0.120, 0.885, 0.32, 1.875);
        }
    
        p:hover {
            color:yellowgreen;
            transform: translateY(-.15em);
            cursor: pointer;
        }
    }
}


