.Photography {
  

  .Carousel {
    width: 100%;

    .First {
      width: 75%;
      left: 13%;
    }

    .Second {
      width: 87%;
      left: 7%;
    }

    .Third {
      width: 85%;
      top: 10%;
      left: 7.5%;
    }
  }

}