.Photography {
  

  .Carousel {
    width: 100%;

    .First {
      width: 83%;
      left: 8.5%;
    }

    .Second {
      width: 92%;
      left: 4%;
    }

    .Third {
      width: 83%;
      top: 8.5%;
      left: 8.5%;
    }

    .Fourth {
      width: 84%;
      top: 8.5%;
      left: 8%;
    }
  }

}