.Photography {
  margin-top: 30px;

  a {
    color: white;
  }

  a:hover {
    text-decoration: line-through yellowgreen;
    cursor: pointer;
  }

  .Carousel {
    width: 100%;

    .First {
      width: 83%;
      left: 8.5%;
    }

    .Second {
      width: 92%;
      left: 4%;

      a {
        color: black;
      }

      p {
        color: black;
      }
    }

    .Third {
      width: 83%;
      top: 8.5%;
      left: 8.5%;
    }

    .Fourth {
      width: 84%;
      top: 8.5%;
      left: 8%;
    }
  }

}

@media (max-width: 600px) {
  .Photography {

    .Carousel {
      height: 100vh;
      .First,
      .Second,
      .Third,
      .Fourth {
        top: 0;
        left: 0;
        width: 100%;

        img {
          margin-top: 60%;
          left: 0;
        }
      }
    }
  }
}